# Pandas
The courses20-21.json file is available at
../data/courses20-21.json

In [1]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_json('../data/courses20-21.json')
df2 = df[df['independent_study']==False]
pt2 =  df2.groupby('subject')['enrolled'].agg([np.mean])
pt2.sort_values('mean',ascending=False).head(10)

               mean
subject
COSI      45.304348
LGLS      38.375000
ENVS      33.272727
BCHM      30.272727
QR        30.000000
NPSY      29.923077
PHIL      29.800000
AAAS/WGS  29.666667
SOC       29.548387
NBIO      29.214286

In [6]:
df.columns

Index(['limit', 'times', 'enrolled', 'details', 'type', 'status_text',
       'section', 'waiting', 'instructor', 'coinstructors', 'code', 'subject',
       'coursenum', 'name', 'independent_study', 'term', 'description'],
      dtype='object')

In [29]:
len(df['subject'].unique())

120